*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:monospace;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  overflow: hidden;
  background-color: #092635;
  color: whitesmoke;
}

#canvas {
  background-color: #092635;
  width: 100vw;
  height: 100vh;
}

#data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.data-value {
  margin-left: 5px;
}

.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 150px;
  height: auto;
  margin: 25px;
  gap: 5px;
}

.hr {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #b86767;
  height: 2px;
  width: 130px;
  border: none;
}

.slider {
  width: 130px;
}

.button {
  width: 130px;
  border-radius: 3px;
  border: none;
  background-color: #0075ff;
  transition: background-color .2s ease, transform .2s ease;
  font-size: 16px;
}

.button:hover {
  background-color: #005cc8;
}

.button:active {
  background-color: #b86767;
  transform: scale(.95);
}

.controls div {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

input[type="range"] {
  width: 100%;
}

label {
  user-select: none; /* Standard property */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
