*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow: hidden;
  background-color: #092635;
  color: whitesmoke;
}

#canvas {
  background-color: #092635;
  width: 100vw;
  height: 100vh;
}

.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 130px;
  height: 100px;
  margin: 25px;
  gap: 5px;
}

.controls div {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

input[type="range"] {
  width: 100%;
}

label {
  user-select: none; /* Standard property */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
